		.alerts{
			transition: all 0.6s ease;
		}
		
		.schedule ul li:nth-child(even){ 
			background-color:#2d3e50; 
			border-top: 1px solid #2c3f50; 
			border-bottom: 1px solid #2c3f50; 
		}

		.schedule ul li {
			color:#fff; 
			text-shadow: 0px -1px 0px rgba(0,0,0,0.3); 
			background-color:#34495e; 
			padding:10px;
			border:none; 
			cursor: pointer;
		}
		.schedule ul li span{ color: #fff; }
		.schedule  ul { list-style: none; margin: 0; padding:0; border-radius: 4px;}
		.schedule  ul li { list-style: none; padding:10px; border-radius: 4px; margin: 5px 0; }
		.getschedule { margin:10px 0;}	
        h5{color: #2A6496;}
        h1{color: #428BCA;}